#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100vh;

  padding:0 !important;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
}

.w-full{
  width: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
